name: Selenium Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r dependencias.txt

      - name: Instalar navegador y driver
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser chromium-chromedriver
          echo "export PATH=$PATH:/usr/lib/chromium-browser/" >> $GITHUB_ENV

      - name: Ejecutar tests de Selenium
        run: |
          python TESTINGFS/test_login.py
          python TESTINGFS/test_registro.py