name: Pruebas Selenium

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install selenium webdriver-manager

      - name: Instalar Chrome for Testing + Chromedriver
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip
          
          wget https://storage.googleapis.com/chrome-for-testing-public/122.0.6261.111/linux64/chrome-linux64.zip
          wget https://storage.googleapis.com/chrome-for-testing-public/122.0.6261.111/linux64/chromedriver-linux64.zip

          unzip chrome-linux64.zip
          unzip chromedriver-linux64.zip

          sudo mv chrome-linux64 /opt/chrome
          sudo mv chromedriver-linux64/chromedriver /usr/local/bin/chromedriver

          sudo chmod +x /usr/local/bin/chromedriver

      - name: Ejecutar pruebas Selenium
        env:
          CHROME_BINARY: /opt/chrome/chrome
        run: |
          python test_login_reg.py